html, body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  overflow-x: hidden;
}


.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

h1 {
  font-size: 30px;
  margin: 5px 0px;
}

p, strong {
  font-size: 20px;
}

img {
  max-width: 300px;
}


#content {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 15px 30px;
  width: 400px;
  background: #FFFFFF;
  //border-radius: 20px;
  overflow: visible;
}

.schedule-item {
    padding: 5px 0px;
    border-bottom: 1px solid black;
}

#dates {
 color: #ca1631; 
 display: inline;
}

.time {
    color: #555555;
    margin: 2px;
}

.class-information {
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.class-information p {
    margin: 10px 0px;
}

.label {
    color: #555555;
}

.panel {
    margin: 3px 0 10px 0;
}

#footer {
  width: 100vw;
  padding: 10px;
  position: absolute;
  bottom: 0;
  text-align: right;
}

#nav {
  margin: 0px;
  padding: 10px 50px 10px 10px;
  background: white;
  width: 400px;

}

#nav img {
  margin: 10px;
}

#links {
  margin-left: 10px;
}

#nav a {
  margin: 0px 5px;
  font-size: 20px;
  padding: 5px;
  vertical-align: middle;
}

#soa {
  max-width: 80px;
  margin: 0px 50px 0px 10px;
}

a {
  color: #ca1631;
}

#logo {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
}

#nav a {
  text-decoration: none;
  vertical-align: middle;
}

#mobile-logo {
  display: none;
  max-width: 200px;
}

@media (max-width: 600px) {
  #content {
    width: 90%;
    margin: 10px auto;
    opacity: .5;
  }

  h1 {
    font-size: 22px;
  }

  #logo {
    display: none;
  }
  
  #mobile-logo {
    display:block;
  }

  #nav a {
    display: block;
  }

  #footer {
    position: static;
  }
}
